.about__container{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center; */
}

.about__title{
    display: grid;
    gap: 0.4em;
    text-align: center;
}

h4{
    font-size: 34px;
    color: #ccd6f6;
}

.about__box{
    width: 70%;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    margin-top: 40px;
}

.about__left{
    width: 33%;
    height: 30%;
    /* background-size: 100%; */
    overflow: hidden;
    /* border: 6px solid #fff; */
}

.about__left img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    order: 1;
    /* border-radius: 50%; */
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
    /* object-fit: contain; */
    animation: profile__animate 8s ease-in-out infinite 1s;
}
@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.about__left img:hover{
    /* transform: scale(1.3); */
    filter: grayscale(0%);
}

.about__right{
    width: 60%;
}