.contact__title {
    display: grid;
    gap: 0.4em;
    text-align: center;
    width: 100%;
    max-width: 490px;
}

.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.form {
    width: 100%;
    max-width: 600px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__label {
    font-weight: 600;
    color: #E6F1FF;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
    background-color: #1b003a;
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.form__input {
    width: 400px;
    background: none;
    padding: 1em .5em;
    outline: none;
    border: 1px solid #f988ff;
    border-radius: 5px;
    color: #8e97b3;
}

.form__submit{
    width: 200px;
    font-weight: 600;
    border: none;
    padding: 16px 65px;
    border-radius: 5px;
    cursor: pointer;
    color: #E6F1FF;
    background-size: 200%;
    transition: 0.6s;
    font-size: 17px;
}

.form__submit{
    background-image: linear-gradient(to left, #bc4ed8, #f988ff, #bc4ed8);
}

.form__submit:hover{
    background-position: right;
}

.area {
    height: 6rem;
    resize: none;
}

.error__message{
    padding: 5px;
    font-size: 15px;
    color: red;
}

@media screen and (max-width: 500px) {
    .contact__title {
        max-width: 400px;
    }

    .form__input{
        width: 380px;
    }
}

@media screen and (max-width: 410px){
    .contact__title {
        width: auto;
        padding: 20px;
    }

    .form__input{
        width: auto;
    }
}
