.skills__container {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills__title {
    display: grid;
    gap: 0.4em;
    text-align: center;
}


h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: clamp(26px, 6vw, 36px);
    color: #F988FF;
}

.box__skills {
    display: flex;
    flex-direction: row;
}

.icon__list {
    list-style: none;
}

.icon {
    margin: 15px;
    transition: 0.5s ease;
}

.icon:hover {
    color: #F988FF;
}


@media screen and (max-width: 1060px) {

    .box__skills {
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}

@media screen and (max-width: 630px) {

    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box__skills {
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }

    .skills__title {
        width: auto;
        padding: 10px;
    }
}


@media screen and (max-width: 420px) {

    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box__skills {
        display: grid;
        grid-template-columns: repeat(1, 200px);
    }

    .skills__title {
        width: auto;
        padding: 10px;
    }
}